// colors
$brown-color: #d87d4a;
$black-one-color: #101010;
$silver-color: #f1f1f1;
$silver-light-color: #fafafa;
$brown-light-color: #fbaf85;
$white-color: #ffffff;
$black-color: #000000;
$background-color: #0e0e0e;
$background-btn-color: #4C4C4C;

// fonts
$main-ff: "Manrope", Arial, sans-serif;
